{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    <h1>Register your Hospital</h1>
    {{ form_start(registrationForm,
        {attr:
            {class: 'regForm'}
        })
    }}
    {{ form_row(registrationForm.username,
        {attr:
            {class: 'email'},
            label: 'Hospital'})
    }}
    {{ form_row(registrationForm.address) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }, {attr: {class: 'pswd'}}) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
