{% extends 'base.html.twig' %}

{% block title %}Hello AddPatientController!{% endblock %}

{% block body %}
    <header>
        <div class="logo">
            <div class="iMed">
                <img src="{{ asset('images/favicon.png') }}" alt="">
                <span>iMed</span>
            </div>
            <a class="btn" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </header>
    <div class="controlMenu">
        <div class="navMenu">
            <ul>
                <li>
                    <a href="{{ path('app_medicControl') }}">Medics</a>
                </li>
                <li>
                    <a href="{{ path('app_hospitalControl') }}">Hospital</a>
                </li>
                <li>
                    <a href="{{ path('app_patientControl') }}">Patients</a>
                </li>
                <li>
                    <a href="{{ path('app_laboratoryControl') }}">Laboratory</a>
                </li>
                <li>
                    <a href="{{ path('app_workerControl') }}">Workers</a>
                </li>
                <li>
                    <a href="{{ path('app_cabinetControl') }}">Cabinets</a>
                </li>
                <li>
                    <a href="{{ path('app_wardControl') }}">Wards</a>
                </li>
                <li>
                    <a href="{{ path('app_treatmentControl') }}">Treatments</a>
                </li>
                <li>
                    <a href="{{ path('app_operationControl') }}">Operations</a>
                </li>
            </ul>
        </div>
        {{ form_start(patientForm) }}
        {{ form_end(patientForm) }}
    </div>
{% endblock %}
