{% extends 'base.html.twig' %}

{% block title %}Hello PatientControlController!{% endblock %}

{% block body %}
    <header>
        <div class="logo">
            <div class="iMed">
                <img src="{{ asset('images/favicon.png') }}" alt="">
                <span>iMed</span>
            </div>
            <a class="btn" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </header>
    <div class="controlMenu">
        <div class="navMenu">
            <ul>
                <li>
                    <a href="{{ path('app_medicControl') }}">Medics</a>
                </li>
                <li>
                    <a href="{{ path('app_hospitalControl') }}">Hospital</a>
                </li>
                <li>
                    <a href="{{ path('app_patientControl') }}">Patients</a>
                </li>
                <li>
                    <a href="{{ path('app_laboratoryControl') }}">Laboratory</a>
                </li>
                <li>
                    <a href="{{ path('app_workerControl') }}">Workers</a>
                </li>
                <li>
                    <a href="{{ path('app_cabinetControl') }}">Cabinets</a>
                </li>
                <li>
                    <a href="{{ path('app_wardControl') }}">Wards</a>
                </li>
                <li>
                    <a href="{{ path('app_treatmentControl') }}">Treatments</a>
                </li>
                <li>
                    <a href="{{ path('app_operationControl') }}">Operations</a>
                </li>
            </ul>
        </div>
        <div class="showMenuContent">
            <div class="showMenu">
                <div class="navMedMenu">
                    <div class="inNavMedMenu">
                        <a class="btn" href="{{ path('app_patientControl') }}">Refresh</a>
                        <a class="btn" href="{{ path('app_addPatient') }}">Add</a>
                    </div>
                </div>
                <div class="showTable">
                    <table class="table-fill">
                        <thead>
                        <tr>
                            <th class="text-left">Edit</th>
                            <th class="text-left">Name</th>
                            <th class="text-left">Surname</th>
                            <th class="text-left">Middle Name</th>
                        </tr>
                        </thead>
                        <tbody class="table-hover">
                        {% for patient in patients %}
                            <tr>
                                <td class="text-left"><a class="btn"
                                                         href="{{ path('app_editPatient', {'id': patient.id}) }}">Edit</a>
                                </td>
                                <td class="text-left">{{ patient.name }}</td>
                                <td class="text-left">{{ patient.surname }}</td>
                                <td class="text-left">{{ patient.middleName }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
