@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #191c1f;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

a {
    font-weight: lighter;
    color: #9ba8b1;
    text-decoration: none;
}

p {
    margin: 7px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    font-family: Calibri, sans-serif;
    background-color: #fcfcfc;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-bottom: 25px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.75);
    background-color: #3e154e;
    align-items: baseline;
}

.logo {
    display: flex;
    width: 1410px;
    height: 100%;
    padding-top: 20px;
    justify-content: space-between;
}

.logo a {
    align-self: flex-end;
}

.form {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}

input {
    margin: 7px 0;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    outline: none;
    background-color: #fcfcfc;
}

button {
    padding: 10px;
    background: #e2e2e2;
    border: none;
    cursor: pointer;
}

.msg {
    border: 2px solid #e23700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.mainContainer {
    height: auto;
    background-color: #ffffff;
    display: flex;
    width: 980px;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.homeForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login {
    width: 100%;
    font-weight: normal;
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 50px;
}

.regButton {
    align-self: self-end;
}

.loginButton {
    align-self: self-end;
}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;

}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.h1Sign {
    align-self: center;
}

#registration_form_email {
    width: 100%;
}

#registration_form_plainPassword {
    display: flex;
    width: 100%;
}

.regForm {
    width: 350px;
}


div.alertDanger {
    width: 100%;
    height: 40px;
    border: 2px solid #e23700;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 35px;
}

.regForm div {
    width: 100%;
}

.regForm div:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.regForm div ul {
    width: 100%;
    height: 40px;
    border: 2px solid #e23700;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 35px;
    align-items: baseline;
    list-style-type: none;
}

.productivity {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 48px;
    height: 48px;
}

ul li {
    display: flex;
    width: 100%;
    list-style-type: none;
    height: 50px;
    transition-duration: 0.4s;
}

ul li:hover {
    background-color: #76284e;
    cursor: pointer;
}

ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding-left: 10px;
    color: #fcfcfc;
}

.logo span {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(135deg, #3e154e 10%, #e74e4f 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 200;
}

.btn {
    font-size: 20px;
    background-color: #76284e;
    padding: 5px 7px 7px 7px;
    border-radius: 7px;
    color: #fcfcfc;
}

.navMenu {
    min-height: calc(100vh - 104px);
    width: 15%;
    background-color: #e74e4f;
}

.controlMenu {
    display: flex;
}

.controlMenu .medic_form div {
    align-self: center;
}

.showMenuContent {
    display: flex;
    justify-content: center;
    height: auto;
    width: 85%;
}

.showMenu{
    width: 100%;
}

.navMedMenu{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 20px 0 0 0;
}

.inNavMedMenu{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.showTable{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 5px;
    width: 80%;
}

th {
    color: #fcfcfc;
    background: #ae3b4e;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #C1C3D1;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
}

tr:hover td {
    background: #9ba8b1;
    color: #fcfcfc;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #9ba8b1;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

select{
    background-color: #fcfcfc;
    border: none;
}
