{% extends 'base.html.twig' %}

{% block title %}Hello AddMedicController!{% endblock %}

{% block body %}
    <header>
        <div class="logo">
            <div class="iMed">
                <img src="{{ asset('images/favicon.png') }}" alt="">
                <span>iMed</span>
            </div>
            <a class="btn" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </header>
    <div class="controlMenu">
        <div class="navMenu">
            <ul>
                <li>
                    <a href="{{ path('app_medicControl') }}">Medics</a>
                </li>
                <li>
                    <a href="{{ path('app_hospitalControl') }}">Hospital</a>
                </li>
                <li>
                    <a href="{{ path('app_patientControl') }}">Patients</a>
                </li>
                <li>
                    <a href="{{ path('app_laboratoryControl') }}">Laboratory</a>
                </li>
                <li>
                    <a href="{{ path('app_workerControl') }}">Workers</a>
                </li>
                <li>
                    <a href="{{ path('app_cabinetControl') }}">Cabinets</a>
                </li>
                <li>
                    <a href="{{ path('app_wardControl') }}">Wards</a>
                </li>
                <li>
                    <a href="{{ path('app_treatmentControl') }}">Treatments</a>
                </li>
                <li>
                    <a href="{{ path('app_operationControl') }}">Operations</a>
                </li>
            </ul>
        </div>

        <div class="showMenuContent">
            <div class="showMenu">
                <div class="navMedMenu">
                    <div class="inNavMedMenu">
                        <a class="btn" href="{{ path('app_medicControl') }}">Refresh</a>
                        <a class="btn" href="{{ path('app_addMedic') }}">Add</a>
                    </div>
                </div>
                <div class="showTable">
                    <table class="table-fill">
                        <thead>
                        <tr>
                            <th class="text-left">Edit</th>
                            <th class="text-left">Avatar</th>
                            <th class="text-left">Name</th>
                            <th class="text-left">Surname</th>
                            <th class="text-left">Middle name</th>
                            <th class="text-left">Specialty</th>
                            <th class="text-left">Skill level</th>
                            <th class="text-left">Title</th>
                            <th class="text-left">Experience</th>
                            <th class="text-left">Productivity</th>
                        </tr>
                        </thead>
                        <tbody class="table-hover">
                        {% for medic in medics %}
                            <tr>
                                <td class="text-left"><a class="btn" href="{{ path('app_editMedic', {'id': medic.id}) }}">Edit</a></td>
                                <td class="text-left"><img src="{{ asset('uploads/images/'~medic.avatar) }}" alt=""
                                                           style="width: 40px"></td>
                                <td class="text-left">{{ medic.name }}</td>
                                <td class="text-left">{{ medic.surname }}</td>
                                <td class="text-left">{{ medic.middleName }}</td>
                                <td class="text-left">{{ medic.specialty }}</td>
                                <td class="text-left">{{ medic.skillLevel }}</td>
                                <td class="text-left">{{ medic.title }}</td>
                                <td class="text-left">{{ medic.getDiffDate(medic.startDate) }}</td>
                                <td class="text-left">{{ medic.productivity }} per day</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
